@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Roboto);
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
/*    margin-bottom: 60px;*/
    
}
.navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-toggle {
    border-color: black;
    padding: 12px;
}
.footer {
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    max-height: 250px;*/
    background-color: #e1e1e1;
}
.footer li a {
    color: black;
    text-decoration: none;
}
.footer li a:hover {
    color: #dda454;
}
.footer_padding {
    padding-top: 20px;
    padding-bottom: 20px;
}
.white_line {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
#content {
/*    margin-bottom: 60px;*/
}
#currency {
    height: 22px;
    margin-top: 4px;
}
#carrency_label{
    color: white;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 4px;
}
.category:hover img{
    border-top: 5px solid #dda454;
}
.category:hover div{
    background-color: black;
    color: white;
}
.hover_text {
    padding-top: 5px;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*
body > .container {
    padding: 80px 15px 0;
}
*/
/*
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
*/


/*------------------------------- --------------------------*/
/*
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

*/
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.sidebar-nav {
    padding: 9px 0;
}

/*------- search-------*/
	.navbar-collapse {
		position: relative;
		padding-top: 30px !important;
		max-height: 270px;
	}
	.navbar-collapse form[role="search"] {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 100%;
		padding: 0px;
		margin: 0px;
		z-index: 0;
	}
	.navbar-collapse form[role="search"] button,
	.navbar-collapse form[role="search"] input {
		padding: 8px 12px;
		border-radius: 0px;
		border-width: 0px;
		color: rgb(119, 119, 119);
		background-color: rgb(248, 248, 248);
		border-color: rgb(231, 231, 231);
		box-shadow: none;
		outline: none;
	}
	.navbar-collapse form[role="search"] input {
		padding: 16px 12px;
		font-size: 14pt;
		font-style: italic;
		color: rgb(160, 160, 160);
		box-shadow: none;
	}
	.navbar-collapse form[role="search"] button[type="reset"] {
		display: none;
	}

	@media (min-width: 768px) {
		.navbar-collapse {
			padding-top: 0px !important;
			padding-right: 38px !important;
		}
		.navbar-collapse form[role="search"] {
			width: 38px;
		}
		.navbar-collapse form[role="search"] button,
		.navbar-collapse form[role="search"] input {
			padding: 15px 12px;
		}
		.navbar-collapse form[role="search"] input {
			font-size: 18pt;
			opacity: 0;
			display: none;            
            height: 50px;
		}
		.navbar-collapse form[role="search"].active {
			width: 100%;
		}
		.navbar-collapse form[role="search"].active button,
		.navbar-collapse form[role="search"].active input {
			display: table-cell;
			opacity: 1;
		}
    	.navbar-collapse form[role="search"].active input {
			width: 100%;
		}
	}
/*------end search ------*/
/*------  begin owl  --------*/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo2 .item{
  margin: 3px;
}
#owl-demo2 .item img{
  display: block;
  width: 100%;
  height: auto;
}
#owl-demo3 .item{
  margin: 3px;
}
#owl-demo3 .item img{
  display: block;
  width: 100%;
  height: auto;
}
/*------ end owl --------*/

.padding_top_10 {
    padding-top: 10px;
}
.padding_left_20 {
    padding-top: 20px;
}
.padding_top_20 {
    padding-top: 20px;
}
.padding_vertical_20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding_vertical_30{
    padding-top: 30px;
    padding-bottom: 30px;
}
/*
.padding_top_10 {
    padding-top: 6px;
}
*/
.margin_top_20 {
    margin-top: 20px;
}
.margin_top_15 {
    margin-top: 15px;
}
.margin_bottom_40 {
    margin-bottom: 40px;
}
.margin_top_10 {
    margin-top: 10px;
}
.margin_bottom_10 {
    margin-bottom: 10px;
}
.margin_fix{
    margin: 0;
}
.padding_fix {
    padding: 0;
}
.padding_left_fix {
    padding-left: 0;
}
.font_size_17 {
    font-size: 17px;
}
.font_size_18 {
    font-size: 18px;
}
.font_size_20 {
    font-size: 20px;
}
.font_size_16 {
    font-size: 16px;
}
#menu1 {
    max-height: 30px;
    padding-right: 0;
}
#navbar ul li a{
    padding-top: 6px;
}
#navbar {
    padding-left: 0;
    padding-right: 10px;
}
#main_nav  {
/*    border-bottom: 1px solid black ;*/
box-shadow: 0px 9px 20px -19px rgba(0,0,0,0.75);
}
a{
    color: black;
}

#main_nav .nav {
/*    padding-left: 15px;*/
    padding-top: 5px;
/*    padding-bottom: 10px;*/
}
#main_nav .navbar-nav>li>a:hover,
#main_nav .navbar-nav>li>a:active,
/*#main_nav .dropdown-menu>li>a:hover,*/
#search_btn,#reset_btn{
    color: #dda454;
    background: white;
}
#main_nav .dropdown-menu>li>a:hover{
      color: white;  
      background:#dda454; 
}
#korzina {
    background: white;
    border: 1px solid #dda454;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}
#korzina i{
    color: #dda454;
    font-size: 22px;
}
/*
#reset_btn {
    background: white;
    color: red;
}
*/
/*
#main_nav .dropdown-menu {
    top:105%;
}
*/
/*
#main_nav .navbar-nav>li:hover {
    background: white;
}
*/
.logo {
    margin-top: 5px;
/*    margin-left: 15px;*/
/*    color:#FF9900        ;*/
    font-family: 'Robobo', serif;
    color: #dda454;
    font-size: 50px;
}
.logo:before{
	 display: block;
	 float: left;
	 content: '';
	 background: url(../img/logo_img.png) no-repeat;
	 width: 80px;
	 height: 60px;
/*	 margin-right: .25em;*/
     margin-top: -18px;
}
.logo_footer {
/*    margin-left: 15px;*/
/*    color:#FF9900        ;*/
    font-family: 'Robobo', serif;
    color: #dda454;
    font-size: 56px;
    padding-left: 25%;
}


/*
.logo_footer{
    color: white;
    font-size: 46px;
    font-family: 'Robobo', serif;
    padding-top: 20px;
    padding-right: 30px;
}
*/
/*
.logo_footer:hover {
    color: #dda454;
}
*/
.navbar-inverse .navbar-nav>li>a{
    color: white;
}
.logo_img {
    max-width: 120px;
}
#search_input {
    margin-top: 5px;
    padding:30px 180px 30px 30px ;
}
/*
#footer_menu li{
    padding-top: 10px;
}
#owl-demo2 img {
    max-height: 350px;
    max-width: 250px;
} 
*/
/*
.owl-theme .owl-controls .owl-page .active span{
    background: black;
}
*/
/*
.navbar-brand {
     display: block;
	 float: left;
	 content: '';
	 background: url(../Img/logo3.jpg) no-repeat;
	 width: 5em;
	 height: 4em;
	 margin-right: .25em;
    margin-top: 5px;
}
*/
selector + [data-readmore-toggle], selector[data-readmore] {
  display: block;
  width: 100%;
}
.link {
    color: #337ab7;
/*    text-decoration: underline;*/
}
#content {
    background-color: #f1f1f1;
}
/*modal login*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}	
    
}
@media (max-width:768px){
    .footer ul li a {
    padding-top: 10px;
/*    padding-bottom: 10px;*/
}
}

/*end modal login*/

/*Classes by Nazik*/

hr {
    margin: 10px 0;
    margin-top: auto;
    border: 0px;
    border-top: 1px solid #dcdcdc;
}
.clear-fix {
    clear:both;
}

/*Item page*/
/*left side*/
a.photo-block, a.photo-block:focus, a.photo-block:hover{
    color:inherit;
    text-decoration: none;
}
.photo-block {
    display: block;
    width: 100%;
    max-width: 500px;
    height: 550px;
    /*max-height: 1000px;*/
/*    background-color: #fff;*/
    border:1px solid #dcdcdc;
}
.photo {
    position: relative;
    width: 100%;
    height: 90%;
    margin:0 auto;
    clear: both;
    padding: 15px;
    overflow: hidden;
/*    background-color: #fff;*/    
}
.item-list .photo {
    height: 100%;
}
.photo > img {
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin: auto;
    min-width: 70%;
    min-height: 70%;
    max-width: 99%;
    max-height: 99%;   
}
div.scale-photo {
    height: 10%;
    line-height: 50px;
}
div.item_related_name {
    height: 10%;
}
.vertical-carousel {
    width: 100%;
    padding: 0; 
}
.vertical-carousel .item-list {
    padding: 0;
}
.vertical-carousel .item-list li {
    list-style: none;     
}
.vertical-carousel .item-list li a {
    display: block;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    height: 130px;
    background: transparent;
    border:1px solid #ccc;
    margin-bottom: 1px;
}
#gallery_01 img {
    border: none!important;
    opacity: .7;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;    
}
#gallery_01 img:hover{
    opacity: 1!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;    
}
.active img {
    border: none!important;
    opacity: 1!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;  
}
/*style for related items*/
.photo-block.item_related {
    max-height: 250px;
    border:none;
    margin-bottom: 20px; 
}
.photo-block.item_related .photo {
    height: 90%;
}
.photo-block.item_related .text-center{
    height: 10%;
    vertical-align: center;
}
.photo-block.item_related:hover {
    border-top: 4px solid #dda454;
}
.photo-block.item_related:hover .text-center {
    background: #000;
    color:#fff;
}
/*right side*/
.item-name {
    font-size: 2em;
}
.pack_size_p {
    margin-top:10px;
}
/*style for item_count*/
.label_item-count {
    float: left;
}
.input-group {
    bottom:4px;
    left:5px;
}
.input-number {
    width: 10px;
}
.input-group .form-control {
    height: 36px;
    z-index: 0; 
    float: left;
    width: 50px;
    border-radius: 0;    
}
.input-group-btn {
  width: 0;
}

#item_parametr{
    margin-bottom: 0px;
}
.share_to_friend a{
    text-decoration: none;
}
.vk:hover .fa-square {
    color:#4e729a;
}
.facebook:hover .fa-square {
    color:#3a5795;
}
.twitter:hover .fa-square{
    color:#2b7bb9;
}
/*style for tabs*/
.nav.nav-tabs li{
    padding: 0;
}
.nav-tabs>li {
  margin-bottom: -2px;
}
.tab-content {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    padding: 15px;
}
.tab-content .active img{
    border: 0!important;
}
/*style for comment form*/
.comment {
    position: relative;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ddd;
    overflow: none;
    background-color: #f1f1f1
}
.comment textarea {
    width: 100%;
    padding: 5px;
    max-width:100%;
    border-color:#ddd;
}
.comment input {
    padding: 5px;
    margin-right: 20px;
    border:1px solid #ddd;
    /*outline: none;*/
}

/*style for zoom*/
.zoomLens {
 cursor: crosshair!important;
 min-height: 150px!important;
 min-width: 170px!important;
}
.zoomwindow {
    height: 100%!important;
    width: 170%!important  
}
/*style for lightbox*/ 

/*set a border on the images to prevent shifting*/
 #gallery_01 img{border:2px solid white;}
 
 /*Change the colour*/
 .active img{border:2px solid #333 !important;}

/*Style for button*/
.button_div {
    text-align: center!important;
}
.pack_size {
    display: inline-block;
    background:#fff;
    padding: 5px;
    border:1px solid #ddd;
}
/*.choose_size {
    margin-right: 5px;
    font-size: 1em;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    vertical-align: middle;
    border-radius: 3px;
    border:none;
    outline: 0;
    background: #4bbe3f;
    background: -webkit-linear-gradient(top, #79d670, #4bbe3f);
    box-shadow: 3px 3px 7px 0 rgba(105, 206, 95, .5), inset 0 -3px 0 0 #3a9731; 
}
.choose_size:hover {
    background: #1fc80d;
    background: -webkit-linear-gradient(top, #69f95b, #1fc80d);
    color:#fff;
    border:none;
    box-shadow: 3px 3px 7px 0 rgba(105, 206, 95, .5), inset 0 -3px 0 0 #3a9731;
}
.choose_size:active, .choose_size:focus {
  background: #29b11b;
  background: -webkit-linear-gradient(top, #62cf57, #29b11b);
  background: -ms-linear-gradient(top, #62cf57, #29b11b);
  background: -moz-linear-gradient(top, #62cf57, #29b11b);
  background: linear-gradient('to bottom', #62cf57, #29b11b);
  box-shadow: 3px 3px 7px 0 rgba(105, 206, 95, .5), inset 0 -1px 0 0 #3a9731;
  color: #a2e09d;
  outline: 0;    
}*/
.btn-number {
    padding: 1px 4px;
    font-size: 14px;
    border-radius: 0;
    z-index: 0;
}


.add_to_basket, .add_to_basket:focus {
    position: absolute;
    top:-50px;
    margin-left: -17%;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    vertical-align: middle;
    border-radius: 3px;
    border:none;
    outline: 0;
    background: #4bbe3f;
    background: -webkit-linear-gradient(top, #79d670, #4bbe3f);
    box-shadow: 3px 3px 7px 0 rgba(105, 206, 95, .5), inset 0 -3px 0 0 #3a9731;
}
.add_to_basket:hover {
    background: #1fc80d;
    background: -webkit-linear-gradient(top, #69f95b, #1fc80d);
    color:#fff;
    border:none;
    box-shadow: 3px 3px 7px 0 rgba(105, 206, 95, .5), inset 0 -3px 0 0 #3a9731;
}
.add_to_basket:active {
  top:-49px;
  background: #29b11b;
  background: -webkit-linear-gradient(top, #62cf57, #29b11b);
  background: -ms-linear-gradient(top, #62cf57, #29b11b);
  background: -moz-linear-gradient(top, #62cf57, #29b11b);
  background: linear-gradient('to bottom', #62cf57, #29b11b);
  box-shadow: 3px 3px 7px 0 rgba(105, 206, 95, .5), inset 0 -1px 0 0 #3a9731;
  color: #a2e09d;
/*  top: 121px;*/
  outline: 0;
  }

  /*style for mobile and "planshet"*/ 
@media (max-width:992px) {
    /*off zoom*/
    .photo-block {
        height: 600px;
    }
    .vertical-carousel .item-list li a {
        width: 100%;
    }
    .zoomLens {
        display: none!important;
    }
    .zoomwindow {
        display: none!important;  
    }
    .zoomContainer {
        display: none!important;
    }
    .zoomwindowContainer {
        display: none!important;
    }    
}
@media (max-width:768px){
    .main_content {
        padding: 0;
    }
    /*for tabs*/ 
    .nav.nav-tabs li{
        width: 100%;
    }
    .photo-block {
        max-height: 600px;
    }
    .photo-block .photo img {
        height: 100%;
    }
    div.scale-photo {
        line-height: 30px;
    }
    .vertical-carousel .item-list li  {
        float: left;
        width: 30%;
    }
    .vertical-carousel .item-list li:not(:last-child)  {
        margin-right: 4%;
    }
    .vertical-carousel .item-list li  a{
        height: 190px;
    }
    /*for button*/
    .add_to_basket, .add_to_basket:focus{
        position: relative;
        top:0;
        margin-left: 0%;
        font-size: 1.3em;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
        float: none!important;
    }
    .add_to_basket:active {
        top:1px;
    }
    .button_div {
        text-align: center!important;
    }
    /*rising size for icon*/
    .fa-table, .fa-heart {
        font-size: 2em!important;
    }
    .fa-heart {
        color:red;
    }
    .vk, .facebook, .twitter {
        font-size: 2em;
    }
    .vk .fa-square {
    color:#4e729a;
    }
    .facebook .fa-square {
        color:#3a5795;
    }
    .twitter .fa-square{
        color:#2b7bb9;
    }
    /*align center for "share to friend"*/
    .share_to_friend {
        float: none!important;
    }
    .pack_size {
        margin-top:10px;
    }
    /*style for item_count*/
    .label_item-count {
        float: none;
    }
    .input-group {
        bottom:4px;
        left:0px;
    }

}
/*for mobile ("portretniy rejim")*/
@media (max-width:500px){
    .photo-block {
        max-height: 400px;
    }
}